<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: Copyright © 2026 ReallyMe LLC. All rights reserved

SPDX-License-Identifier: Apache-2.0
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableLibraries</key>
	<array>
		<dict>
			<key>BinaryPath</key><string>libreallyme_jose_ffi_macos.a</string>
			<key>HeadersPath</key><string>Headers</string>
			<key>LibraryIdentifier</key><string>macos-arm64_x86_64</string>
			<key>LibraryPath</key><string>libreallyme_jose_ffi_macos.a</string>
			<key>SupportedArchitectures</key><array><string>arm64</string><string>x86_64</string></array>
			<key>SupportedPlatform</key><string>macos</string>
		</dict>
		<dict>
			<key>BinaryPath</key><string>libreallyme_jose_ffi_ios.a</string>
			<key>HeadersPath</key><string>Headers</string>
			<key>LibraryIdentifier</key><string>ios-arm64</string>
			<key>LibraryPath</key><string>libreallyme_jose_ffi_ios.a</string>
			<key>SupportedArchitectures</key><array><string>arm64</string></array>
			<key>SupportedPlatform</key><string>ios</string>
		</dict>
		<dict>
			<key>BinaryPath</key><string>libreallyme_jose_ffi_ios_simulator.a</string>
			<key>HeadersPath</key><string>Headers</string>
			<key>LibraryIdentifier</key><string>ios-arm64_x86_64-simulator</string>
			<key>LibraryPath</key><string>libreallyme_jose_ffi_ios_simulator.a</string>
			<key>SupportedArchitectures</key><array><string>arm64</string><string>x86_64</string></array>
			<key>SupportedPlatform</key><string>ios</string>
			<key>SupportedPlatformVariant</key><string>simulator</string>
		</dict>
	</array>
	<key>CFBundlePackageType</key><string>XFWK</string>
	<key>XCFrameworkFormatVersion</key><string>1.0</string>
</dict>
</plist>
